<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-1">
				<a href="//library.duke.edu"><img src="<%= asset_path('devillogo-60pct-60.png') %>"/></a>
			</div>
			<div class="col-sm-2">
				<div class="h5">Contact Us</div>
				<p class="small">
					411 Chapel Drive<br />
					Durham, NC 27708
				</p>
				<p class="small">
					(919) 660-5870<br />
					Perkins Library Service Desk
				</p>
			</div>
			<div class="col-sm-4">
				<div class="h5">Services for...</div>
				<ul class="list-inline">
					<li>
						<ul class="list-unstyled small">
							<li><a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'Faculty Instructors'});" href="http://library.duke.edu/services/faculty">Faculty &amp; Instructors</a></li>
							<li><a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'Graduate Students'});" href="http://library.duke.edu/services/graduate">Graduate Students</a></li>
							<li><a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'Undergraduate Students'});" href="http://library.duke.edu/services/undergraduate">Undergraduate Students</a></li>
							<li><a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'International Students'});" href="http://library.duke.edu/services/international">International Students</a></li>
						</ul>
					</li>
					<li>
						<ul class="list-unstyled small">
							<li><a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'Alumni'});" href="http://library.duke.edu/services/alumni">Alumni</a></li>
							<li><a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'Donors'});" href="http://library.duke.edu/services/donors">Donors</a></li>	
							<li><a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'Visitors'});" href="http://library.duke.edu/services/visitors">Visitors</a></li>								
							<li><a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'Patrons with Disabilities'});" href="http://library.duke.edu/services/disabilities">Patrons with Disabilities</a></li>	
						</ul>
					</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<div class="socialMediaIconsBig">
					<a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Social', eventLabel: 'Twitter'});" href="https://twitter.com/DukeLibraries" title="Twitter">
						<div class="twitter"></div></a>
					<a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Social', eventLabel: 'Facebook'});" href="https://www.facebook.com/dukelibraries" title="Facebook">
						<div class="facebook"></div></a>
					<a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Social', eventLabel: 'Youtube'});" href="http://www.youtube.com/user/DukeUnivLibraries" title="Youtube">
						<div class="youtube"></div></a>
					<a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Social', eventLabel: 'Flickr'});" href="http://www.flickr.com/photos/dukeunivlibraries/" title="Flickr">
						<div class="flickr"></div></a>
					<a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Social', eventLabel: 'Pinterest'});" href="http://www.pinterest.com/dukelibraries/" title="Pinterest">
						<div class="instagram"></div></a>
					<a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Social', eventLabel: 'RSS'});" href="http://blogs.library.duke.edu/" title="RSS">
						<div class="rss"></div></a>
				</div>
				<ul class="list-unstyled small">
					<li><a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Links', eventLabel: 'Re-use and Attribution'});" href="/about/reuse-attribution">Re-use &amp; Attribution</a> / <a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Links', eventLabel: 'Privacy'});" href="/about/privacy">Privacy</a></li>
					<li><a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Links', eventLabel: 'Support the Libraries'});" href="/support">Support the Libraries</a></li>
				</ul>
				<a onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Links', eventLabel: 'Creative Commons'});" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US" ><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" title="This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License" /></a>
			</div>
			<div class="col-sm-2 pull-right">
				<a href="//duke.edu"><img src="<%= asset_path('dukelogo_vert_60pct_140.png') %>"/></a>
			</div>
		</div>
	</div>
</footer>
