	
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
					<a class="logo navbar-btn pull-left" href="http://library.duke.edu" title="Library Home">
          	<img src="<%= asset_path('logo.png') %>" alt="Home">
        	</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--a class="navbar-brand" href="/">Support The Libraries</a-->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Naming Opportunities</a></li>
            <li class="dropdown">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
            	<ul class="dropdown-menu" role="menu">
								<li><a href="#">Transform Lives</a></li>
								<li><a href="#">Featured Story</a></li>
								<li><a href="#">Giving Opportunities</a></li>
								<li><a href="#">Friends of the Libraries</a></li>
								<li><a href="#">News, Events, Exhibits</a></li>            		
            	</ul>
            </li>
            <li><a href="#contact">Contact</a></li>
          </ul>
	        <form class="navbar-form">
	        	<a href="//gifts.duke.edu/library" class="give-now btn btn-default">Give Now!</a>
	        </form>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
