/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require colorbox-rails 
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';

$brand-primary:                   #036;
$brand-success:                   lighten(#A1B70D, 6.5%);
$brand-info:                      lighten(#0680CD, 13.0%);
$brand-warning:                   lighten(#F09905, 7.5%);
$brand-danger:                    lighten(#CC3300, 6.5%);
$link-color:                      #A1B70D;

//== NAVBAR INVERSE 
//
$navbar-inverse-bg:               $brand-primary;
$navbar-inverse-link-hover-bg:    darken($brand-primary, 5.0%);
$navbar-inverse-link-hover-color: lighten($link-color, 10.0%);

@import 'bootswatch/flatly/variables';

@import 'bootstrap';

.navbar-is-fixed-bottom {
  .main-container {
    padding-top: 29px;
  }
}

.navbar-is-fixed-top {
  .main-container {
    padding-top: 29px;
  }
}

.socialMediaIconsBig {
  margin-bottom: 0.5em;
}

.footer {
  h5,
  div.h5 {
    color: darken($brand-success, 5%);
    border-bottom: 1px dotted $gray-light;
  }
  border-top: 6px solid lighten($gray-light, 15.0%);
  background: lighten($gray-light, 29.5%);
  border-radius: 0 0 10px 10px;
  margin-bottom: 1em;
}

