/* CSS classes specific to the naming-opportunities flooplan- and popup-pages. */

/* main page (building navigation) */

// ul.buildingfloorlist a:hover, #roomlist a:hover, .nameablehover, #roomlist a.nonnameableroom:hover, .nonnameablehover, #roomlist a.pendingsaleroom:hover, .pendingsalehover {
// 	color: white !important;
// 	padding: .2em .25em;
// }

// ul.buildingfloorlist a:hover, #roomlist a:hover, .nameablehover {
// 	background-color: #66cc55; /* #00cc00; */
// }

// #roomlist a.nonnameableroom:hover, .nonnameablehover {
// 	background-color: #66aacc; /* #336699; */
// }

// #roomlist a.pendingsaleroom:hover, .pendingsalehover {
//  	background-color: #B84D70; /* #800000; */
// }
